
<!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-3">-->

        <!--<h2><strong>Issue Details By Id</strong></h2>-->


        <!--<form class="form-horizontal">-->
            <!--<div class="form-group">-->
                <!--<label for="input0" class="col-sm-3 control-label">ID</label>-->

                <!--<div class="col-sm-4 ">-->
                    <!--<input type="text" name="Id" class="form-control" id="input0" placeholder="Id">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="input1" class=" col-sm-3 control-label">Description</label>-->

                <!--<div class="col-sm-4">-->
                    <!--<input type="text area" name="Description" class="form-control" id="input1"-->
                           <!--placeholder="Description" >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="input2" class=" col-sm-3 control-label">Assignee</label>-->

                <!--<div class="col-sm-4">-->
                    <!--<input type="text" name="Assignee" class="form-control" id="input2"-->
                           <!--placeholder="assigned by" >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="input3" class=" col-sm-3 control-label">Issue status</label>-->

                <!--<div class="col-sm-4">-->
                    <!--<input type="text" name="Issuestatus" class="form-control" id="input3"-->
                           <!--placeholder="Status">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="input4" class=" col-sm-3 control-label">Comments</label>-->

                <!--<div class="col-sm-4">-->
                    <!--<input type="text area" name="Comments" class="form-control" id="input4"-->
                           <!--placeholder="Comments" >-->
                <!--</div>-->
            <!--</div>-->

            <!--<center>-->
                <!--<button class="btn btn-default" ng-click="submit()">Submit</button></center>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->