
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Employee Name</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Father's Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Enabled</th>
        <th>Gender</th>
    </tr>
    <tr  ng-repeat="e in empList">
        <td>{{e.id}}</td>
        <td>{{e.employeeName}}</td>
        <td>{{e.username}}</td>
        <td>{{e.password}}</td>
        <td>{{e.fatherName}}</td>
        <td>{{e.address}}</td>
        <td>{{e.email}}</td>
        <td>{{e.phone}}</td>
        <td>{{e.userRoleEntity.role}}</td>
        <td>{{e.enabled}}</td>
        <td>{{e.gender}}</td>

    </tr>
</table>




